<?xml version='1.0' encoding='utf-8'?>
<widget id="com.devsoftware.pdfreader"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>PDFReader</name>
    <description>PDF Reader Application</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <!-- UYGULAMA GİRİŞ DOSYASI -->
    <content src="web/index.html" />

    <access origin="*" />

    <!-- Genel ayarlar -->
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreenDuration" value="300" />

    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="36" />
    <preference name="android-compileSdkVersion" value="36" />

    <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    <!-- ANDROID PLATFORM AYARLARI -->
    <platform name="android">
        <!-- Android 10+ için legacy storage -->
        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:requestLegacyExternalStorage="true" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </edit-config>
    </platform>

    <!-- HTTP/HTTPS erişimi -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- PLUGINLER - SADECE CORE PLUGIN'LER -->
    <!-- Core plugin'ler (Apache Cordova tarafından desteklenen) -->
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-splashscreen" />
    
    <!-- Third-party plugin'ler (daha güncel versiyonlar için) -->
    <plugin name="cordova-plugin-android-permissions" spec="1.1.0" />
    <plugin name="cordova-plugin-file-opener2" spec="3.0.5" />

</widget>
